header {
    text-align: center;
    padding: 30px;
  }
  
 
  .Personal {
    text-align: left;
    float: left;
    width: 50%;
    padding: 12px;
    height: 70%;
    margin-left:auto;
  }
  .Dreamjob {
    
    text-align:center;
    width: 60px%;
  display: grid;
   
   height: 100%;
   margin-right: auto;
  }
